<form [formGroup]="shortenerForm" class="shortener-form" (submit)="submit()">
  <mat-form-field appearance="outline">
    <mat-label>Enter link</mat-label>
    <input matInput type="url" required placeholder="http://Google.com" name="url" formControlName="url">
    <mat-error *ngIf="shortenerForm.hasError('pattern')">
      Url Pattern Invalid
    </mat-error>
  </mat-form-field>
  <button mat-stroked-button [disabled]="shortenerForm.invalid">
    Generate
  </button>
  <p class="shortener-form__short-link">{{shortLink}}</p>
</form>
