<form [formGroup]="shortenerForm" class="shortener-form" (submit)="submit()">
  <input class="shortener-form__input" type="url" required placeholder="Your link" name="url" formControlName="url">
  <textarea class="shortener-form__tags" placeholder="Enter your tags" name="tags" formControlName="tags"></textarea>
  <button class="shortener-form__btn" type="submit" [disabled]="shortenerForm.invalid">
    Generate
  </button>
  <div class="shortener-form__text shortener-form__text_err" *ngIf="error?.message">
    <span>
      {{error.message}}
    </span>
  </div>
  <div class="shortener-form__text" *ngIf="shortLink">
    <span>
      Generated link:
    </span>
    <a class="shortener-form__short-link" href="{{serverUrl}}/{{shortLink}}" target="_blank">{{shortLink}}</a>
  </div>
</form>
