@import './../../styles/vars/colors.scss';

.container {
  position: relative;
  top: 40vh;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 15px 0;
  max-width: 1000px;
  width: 100%;
  background-color: #2196f308;
  .container__btn-group {
    z-index: 10;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 100%;
    .container__btn {
      width: 40px;
      height: 20px;
      margin: 0 5px;
      border-radius: 2px;
      cursor: pointer;
    }
  }
}

.shortener-form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 528px;
  width: 100vw;
  height: 166px;

  .shortener-form__input {
    padding: 0 17px;
    box-sizing: border-box;
    width: 396px;
    height: 63px;
    border: none;
    box-shadow: 0px 10px 20px -10px $color-shadow;
  }

  .shortener-form__text {
    position: absolute;
    margin: 15px 22px;
    bottom: 5px;
    &.shortener-form__text_err {
      color: $color-error-text;
    }
  }

  .shortener-form__short-link,
  .shortener-form__short-link:hover,
  .shortener-form__short-link:visited {
    letter-spacing: 0.5px;
    color: inherit;
  }

  .shortener-form__btn {
    position: absolute;
    right: 14px;
    width: 144px;
    height: 44px;
    border-radius: 2px;
    text-transform: uppercase;
    background-color: $color-active-btn;
    color: $color-text-light;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 10px 20px -10px $color-shadow;
    }

    &:disabled {
      background-color: $color-disabled-background;
      color: $color-disabled;
      cursor: inherit;
      box-shadow: none;
    }
  }

  .shortener-form__tags {
    position: absolute;
    bottom: -25px;
    right: 15px;
    padding: 10px 20px 0px 20px;
    box-shadow: 0px 10px 20px -10px $color-shadow;
    border-radius: 2px;

    &:focus {
      width: 50%;
    }
  }

  .shortener-form__input:focus+.shortener-form__tags,
  .shortener-form__tags:hover,
  .shortener-form__tags:focus {
    display: inline-block;
  }
}
