<div class="container">
  <div class="container__btn-group">
    <button class="container__btn container__btn_position_right" (click)="toLeft()" type="button">
      &larr;
    </button>
    <button class="container__btn container__btn_position_middle" (click)="toMiddle()" type="button">
      &harr;
    </button>
    <button class="container__btn container__btn_position_left" (click)="toRight()" type="button">
      &rarr;
    </button>
  </div>
  <form [formGroup]="shortenerForm" class="container__item shortener-form" [@positionform]="position" (submit)="submit()">
    <input [@positioninput]="{value: position, params:{left: startIndent, right: endIndent, middle: middleIndent}}" class="shortener-form__input" type="url" #shortenerInput required placeholder="Your link" name="url" formControlName="url">
    <textarea class="shortener-form__tags" *ngIf="isValidHttpUrl" placeholder="Enter your tags" name="tags" formControlName="tags"></textarea>
    <button class="shortener-form__btn" type="submit" [disabled]="shortenerForm.invalid" #shortenerBtn>
      Generate
    </button>
    <div class="shortener-form__text shortener-form__text_err" *ngIf="error?.message">
      <span>
        {{error.message}}
      </span>
    </div>
    <div class="shortener-form__text" *ngIf="shortLink">
      <span>
        Generated link:
      </span>
      <a class="shortener-form__short-link" href="{{serverUrl}}/{{shortLink}}" target="_blank">{{shortLink}}</a>
    </div>
  </form>
</div>
