$color-text-dark: #000000;
$color-text-light: #ffffff;
$color-shadow: #d3d3d3;
$color-disabled-background: #e0e0e0be;
$color-disabled: #9c9c9cbe;
$color-error-text: #d86d72;
$color-link-form-text: #447dffe3;
$color-active-btn: #8192ee;
