<div *ngIf="!isChange">
  <a href="http://localhost:3000/{{link.short_url}}">
    {{link.short_url}}
  </a>
  <span class="users-links__views">views: {{link.view_count || 0}}</span>
  <button type="button" mat-stroked-button (click)="startChangeLinks()">
    edit
  </button>
</div>
<div *ngIf="isChange">
  <form [formGroup]="linkForm" (submit)="changeLink(link)">
    <input *ngIf="isChange" value={{link.short_url}} formControlName="link">
    <button mat-stroked-button>
      ok
    </button>
  </form>
  {{errorMessage}}
</div>
