<div class="link" *ngIf="!isChange">
  <a class="link__orig-url" href="{{link.original_url}}">{{link.original_url}}</a>
  <div class="link__form-edit">
    <a class="link__url" href="{{serverUrl}}/{{linkUrl}}">
      {{linkUrl}}
    </a>
    <button class="link__btn-edit" type="button" (click)="startChangeLinks()">
      edit
    </button>
  </div>
  <span class="link__views">{{link.view_count || 0}}</span>
  <span class="link__tags">{{link.tag || 'empty'}}</span>
  <span class="link__author">{{author}}</span>
</div>
<div *ngIf="isChange">
  <form [formGroup]="linkForm" (submit)="changeLink(link)">
    <input required placeholder={{linkUrl}} name="link" formControlName="link">
    <button [disabled]="linkForm.invalid">
      ok
    </button>
    <button (click)="cancel()" type="button">
      cancel
    </button>
  </form>
  {{errorMessage}}
</div>
