@import './../../styles/vars/colors.scss';

.link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: $color-link-form-text;
  & > * {
    padding-left: 37px;
    box-sizing: border-box;
    width: 20%;
    overflow: hidden;
  }

  .link__orig-url,
  .link__orig-url:visited,
  .link__orig-url:hover,
  .link__orig-url:focus,
  .link__url,
  .link__url:visited,
  .link__url:hover,
  .link__url:focus {
    color: $color-link-form-text;
    text-decoration: none;
  }
}
