@import './../../styles/vars/colors.scss';

.link {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: $color-link-form-text;
  & > * {
    padding-left: 37px;
    box-sizing: border-box;
    width: 20%;
    overflow: hidden;
  }

  .link__form-edit {
    position: relative;
    overflow: visible;
    .link__url {
      line-height: 10px;
    }

    .link__btn-edit {
      display: none;
      position: absolute;
      top: -8px;
      right: 35px;
      width: 35px;
      height: 32px;
      background: url(../../../assets/images/edit.png) center;
      cursor: pointer;
    }

    &:hover > .link__btn-edit {
      display: inline-block;
    }
  }

  .link__tags_disabled {
    color: $color-text-basic;
  }

  .link__orig-url,
  .link__orig-url:visited,
  .link__orig-url:hover,
  .link__orig-url:focus,
  .link__url,
  .link__url:visited,
  .link__url:hover,
  .link__url:focus,
  .link__tag,
  .link__tag:visited,
  .link__tag:hover,
  .link__tag:focus {
    color: $color-link-form-text;
    text-decoration: none;
  }

  .link__views,
  .link__author {
    color: $color-text-basic;
  }
}
