<div class="links">
  <h1 class="links__header">
    My links
  </h1>
  <div class="links__item-group">
    <div class="links__subtitles">
      <span class="links__subtitle">
        Original link
      </span>
      <span class="links__subtitle">
        Short link
      </span>
      <span class="links__subtitle">
        Tags
      </span>
      <span class="links__subtitle">
        Views
      </span>
      <span class="links__subtitle">
        Author
      </span>
    </div>
    <div *ngFor="let link of links" class="links__item">
      <app-link-form [link]="link" class="links__link"></app-link-form>
    </div>
  </div>

</div>
