<div class="comments">
  <ul class="comments__list">
    <li class="comments__item" *ngFor="let comment of comments">
      <span class="comments__author">{{comment.user.login}}:</span>
      <span class="comments__text">{{comment.message}}</span>
    </li>
  </ul>
  <form class="comments__form" *ngIf="authUser" [formGroup]="commentForm" (submit)="addComment()">
    <h2 class="comments__form-author">{{authUser?.login}}</h2>
      <textarea class="comments__form-text" placeholder="Add comment" required name="link" formControlName="comment"></textarea>
      <div class="comments__form-btn-group">
        <button class="comments__form-btn" [disabled]="commentForm.invalid">
          send
        </button>
        <button class="comments__form-btn comments__form-btn_cancel" (click)="cancel()" type="button">
          x
        </button>
      </div>
  </form>
</div>
