@import './styles/vars/colors.scss';

.header {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100vw;
  height: 100px;
  .header__auth {
    cursor: pointer;

    &.header__auth_off {
      padding: 22px 26px;
    }

    &.header__auth_on {
      padding: 28px 25px;
    }
  }

  .header__auth-link {
    padding-right: 20px;
    font-size: 14px;
    vertical-align: top;

    &,
    &:hover,
    &:active,
    &:focus {
      color: #6B6B6B;
      text-decoration: none;
    }
  }
}

.modal {
  z-index: 8;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(3px);
  .modal__close {
    position: absolute;
    right: 8px;
    top: 7px;
    font-size: 20px;
    cursor: pointer;
    &:hover {
      color: $primary-color;
    }
  }

  .nav {
    position: relative;
    z-index: 10;
    box-sizing: border-box;
    padding: 75px 95px 0 95px;
    width: 624px;
    height: 497px;
    background-color: $color-text-light;
    box-shadow: 0px 0px 20px 0px $color-shadow;
    .nav__header {
      font-size: 30px;
      text-align: center;
    }

    .nav__link-group {
      margin: 16px;
      text-align: center;
    }

    .nav__link {
      display: none;
      font-size: 16px;
      &:checked+label {
        color: $primary-color;
      }

      &+label {
        font-size: 16px;
        font-weight: bold;
        color: #9c9c9cbe;
        cursor: pointer;
        &:nth-child(2) {
          margin-right: 20px;
        }
      }
    }
  }
}
