.header {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: start;
  box-sizing: border-box;
  width: 100vw;
  height: 100px;
}

.header__auth-link {
  padding-right: 20px;
  font-size: 16px;
  vertical-align: top;
}

.header__auth.header__auth_off {
  padding: 22px 26px;
}

.header__auth-link,
.header__auth-link:visited,
.header__auth-link:hover,
.header__auth-link:active {
  color: #6B6B6B;
  text-decoration: none;
}
