<form [formGroup]="registrationForm" class="registration-form" (submit)="submit()">
  <input class="registration-form__input" matInput type="login" required placeholder="login" name="login" formControlName="login">
  <input class="registration-form__input" matInput type="password" required placeholder="password" name="password" formControlName="password">
  <input class="registration-form__input" matInput type="password" required placeholder="Repeat password" name="verification" formControlName="verification">
  <button class="registration-form__btn" [disabled]="registrationForm.invalid">
    ok
  </button>
  <p class="registration-form__message">{{registrationMessage}}</p>
</form>
