@import './app/styles/vars/colors.scss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #F5F6FA;
  font-size: 14px;
  color: $color-text-basic;
}

input,
textarea,
button {
  outline: none;
  border: none;
}
