@mixin auth-btn {
  height: 46px;
  width: 468px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  background-color: #000000;
  cursor: pointer;
  &:disabled {
    background-color: #e0e0e0be;
    cursor: default;
  }
}
